body {
    text-align: center;
    font-family: 'Archivo Narrow';
    font-weight: 300;
    line-height: 1.6em;
    font-size: 1.3em;
    max-width: 500px;
    margin: 0 auto;
}

.word-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}